@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply text-text dark:text-primary;
}

*:focus,
*:visited,
*:active {
  outline: none;
}

::-webkit-scrollbar {
  @apply w-4 bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply border-4 border-solid border-transparent bg-neutral-500 rounded-full bg-clip-padding;
}

@layer components {
  .marquee {
    animation: marquee 20s linear infinite;

    &:hover {
      -moz-animation-play-state: paused;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  .grid-row {
    & *:nth-child(1) {
      @apply dt:w-[10vw] pt:w-[24%];
    }

    & *:not(:nth-child(1)) {
      @apply dt:w-[5vw] pt:w-[19%];
    }

    & * {
      @apply py-3;
    }

    &:not(:nth-last-child(-n + 1)) {
      @apply border-b-[0.5px] border-y-neutral-300 dark:border-y-neutral-800;
    }
  }

  .grid-header-row {
    & *:nth-child(1) {
      @apply pb-6;
    }

    & *:not(:nth-child(1)) {
      @apply pb-6;
    }
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
